.formattedPrompt {
  max-width: 60ch;
  margin: auto;
  margin-top: 36px;
}
.dynamic, .static {
  font-family: monospace;
}
.dynamic {
  display: inline-flex;
  flex-flow: column;
  position: relative;
  margin: 0 .5em;
  align-items: center;
}
.dynamic .claimed_by {
  font-size: .66em;
  position: absolute;
  top: -.75em;
}
.dynamic .text {
  display: inline-block;
  text-decoration: underline;
}

.dynamic .type {
  font-size: .66em;
}

.static {
  line-height: 2.5;
}