.formattedPrompt {
  max-width: 60ch;
  margin: 24px auto;
  font-size: clamp(1rem, 1.5rem, 3vw);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px 0;
}

.dynamic {
  display: inline-flex;
  flex-flow: column;
  position: relative;
  margin: 0 .5em;
  align-items: center;
  line-height: 1;
}

.dynamic .claimed_by {
  font-size: .55em;
}
.dynamic .text {
  display: inline-block;
}

.dynamic .type {
  font-size: .55em;
}