.formattedPrompt {
  max-width: 60ch;
  margin: 24px auto;
  font-size: clamp(1rem, 1.5rem, 3vw);
}
.dynamic, .static {
  font-family: monospace;
}
.dynamic {
  display: inline-flex;
  flex-flow: column;
  position: relative;
  margin: 0 .5em;
  align-items: center;
}
.dynamic .claimed_by {
  font-size: .55em;
  position: absolute;
  top: -.75em;
}
.dynamic .text {
  display: inline-block;
  text-decoration: underline;
}

.dynamic .type {
  font-size: .55em;
}

.static {
  line-height: 2.5;
}