.form {
  display: flex;
  flex-flow: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.form > label {
  text-align: center;
}

.form > label input {
  margin-top: 8px;
}

.form fieldset label {
  display: inline-block;
  padding: 16px;
}

.form input[value="red"]{ accent-color: var(--color-red);}
.form input[value="orange"]{ accent-color: var(--color-orange);}
.form input[value="yellow"]{ accent-color: var(--color-yellow);}
.form input[value="green"]{ accent-color: var(--color-green);}
.form input[value="blue"]{ accent-color: var(--color-blue);}
.form input[value="indigo"]{ accent-color: indigo;}
.form input[value="violet"]{ accent-color: var(--color-violet);}