.form {
  display: flex;
  flex-flow: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  grid-column: span 2;
}

.form > label {
  text-align: center;
  width: 100%;
}

.form > label input {
  margin-top: 8px;
  width: 100%;
}

.form button[type="submit"] {
  width: 100%;
}

.form input[value="red"]{ accent-color: var(--color-red);}
.form input[value="orange"]{ accent-color: var(--color-orange);}
.form input[value="yellow"]{ accent-color: var(--color-yellow);}
.form input[value="green"]{ accent-color: var(--color-green);}
.form input[value="blue"]{ accent-color: var(--color-blue);}
.form input[value="indigo"]{ accent-color: indigo;}
.form input[value="violet"]{ accent-color: var(--color-violet);}

.colorSelectors {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  border-color: var(--color-foreground);
}

.colorSelectors legend {
margin: auto;
background: var(--color-background);
padding: 0 8px;
}

.colorSelector {
  display: inline-block;
  flex: 1 0 40%;
  text-align: center;
  padding: 8px 16px;
  box-shadow: 2px 2px 0 var(--color-foreground);
  border: 1px solid var(--color-foreground);
  border-radius: 8px;
  cursor: pointer;
}
.colorSelector input {
  position: absolute;
  visibility: hidden;
  width: 0;
}