.playerForm h2 {
  flex: 100%;
  text-align: center;
}

.playerForm, .playerForm > label {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
.playerForm button {
  width: 100%;
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .playerForm {
    order: 2;
  }
}

.wordClaims {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 300px;
}

.wordClaims h2 {
  flex: 100%;
  text-align: center;
}


.wordClaims input[type="radio"] {
  visibility: hidden;
  width: 0;
  position: absolute;
}

.wordClaims label:last-of-type {
  flex-grow: 0;
}

.wordClaims label.shouldBeDisabled {
  text-decoration: line-through;
}

.wordClaims label.claimedByPlayer {
  background: var(--player-color);
}

.separator {
  font-size: .75rem;
  text-align: center;
}

.playerForm .unclaim {
  font-size: .7rem;
  padding: 8px;
}