

.prompt {
  display: inline-block;
  flex: 1 0 40%;
  text-align: center;
  padding: 8px 16px;
  box-shadow: 2px 2px 0 var(--color-foreground);
  border: 1px solid var(--color-foreground);
  border-radius: 8px;
  cursor: pointer;
}

.prompt input[type="radio"] {
  visibility: hidden;
  width: 0;
  position: absolute;
}

.prompt:last-of-type {
  flex-grow: 0;
}

.shouldBeDisabled {
  text-decoration: line-through;
  opacity: .5;
}
